.shopPage {
    display: flex;
    flex-direction: column;
}

.shopSection {
    display: grid;
    grid-template: 1fr / 300px 1fr;
    margin: 1rem;
    gap: 1rem;
}

.shopSection:first-child {
    grid-template-columns: 1 / 2;
    grid-template-rows: 1 / 2;
}

.shopSection:last-child {
    grid-template-columns: 2 / 3;
    grid-template-rows: 1 / 2;
}
